<div id="header">
    <%-include('header.ejs')%>
</div>

<div>
    <h1>Save and Display Info from MongoDB</h1>
</div>

<div style="border-bottom: solid gray">
    <form action="http://localhost:3000/save" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required/>
        </div>
        <div>
            <label for="text">Description</label>
            <input type="text" id="description" name="description" required/>
        </div>
        <button type="submit">Submit to Backend</button>
    </form>
</div>
<br/>
<div>
    <form>
        <button type="submit" onclick="GetInfo()">Get Data from Backend</button>
    </form>
</div>

<div id="DisplayData">
    <p>>></p>
</div>

<script>
    function GetInfo(){
        var XHP = new XMLHttpRequest();
        XHP.open('get', 'http://localhost:3000/info_get', true);
        XHP.setRequestHeader('Content-Type', 'text-plain');
        console.log("Get function in progress");
        XHP.onreadystatechange = function(){
            if(this.readyState==4 && this.status==200){
                document.getElementById('DisplayData').innerHTML=JSON.stringify(XHP.responseText);
                console.log(XHP.responseText);
            }
        };
        XHP.send();
        console.log("Get function Done");
    }
</script>

<div id="footer">
    <%-include('footer.ejs')%>
</div>
